<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.building.dao.mapper.HangingBasketsDOMapper">
  <resultMap id="BaseResultMap" type="com.building.dao.entity.HangingBasketsDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="baskets_code" jdbcType="VARCHAR" property="basketsCode" />
    <result column="baskets_name" jdbcType="VARCHAR" property="basketsName" />
    <result column="baskets_status" jdbcType="VARCHAR" property="basketsStatus" />
    <result column="baskets_address" jdbcType="VARCHAR" property="basketsAddress" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="baskets_model" jdbcType="VARCHAR" property="basketsModel" />
    <result column="baskets_manager_code" jdbcType="VARCHAR" property="basketsManagerCode" />
    <result column="project_code" jdbcType="VARCHAR" property="projectCode" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, baskets_code, baskets_name, baskets_status, baskets_address, company_code, baskets_model, 
    baskets_manager_code, project_code, is_deleted, create_by, update_by, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.building.dao.entity.HangingBasketsDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_hanging_baskets
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_hanging_baskets
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_hanging_baskets
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.building.dao.entity.HangingBasketsDO">
    insert into t_hanging_baskets (id, baskets_code, baskets_name, 
      baskets_status, baskets_address, company_code, 
      baskets_model, baskets_manager_code, project_code, 
      is_deleted, create_by, update_by, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{basketsCode,jdbcType=VARCHAR}, #{basketsName,jdbcType=VARCHAR}, 
      #{basketsStatus,jdbcType=VARCHAR}, #{basketsAddress,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, 
      #{basketsModel,jdbcType=VARCHAR}, #{basketsManagerCode,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, #{updateBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.building.dao.entity.HangingBasketsDO">
    insert into t_hanging_baskets
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="basketsCode != null">
        baskets_code,
      </if>
      <if test="basketsName != null">
        baskets_name,
      </if>
      <if test="basketsStatus != null">
        baskets_status,
      </if>
      <if test="basketsAddress != null">
        baskets_address,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="basketsModel != null">
        baskets_model,
      </if>
      <if test="basketsManagerCode != null">
        baskets_manager_code,
      </if>
      <if test="projectCode != null">
        project_code,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="basketsCode != null">
        #{basketsCode,jdbcType=VARCHAR},
      </if>
      <if test="basketsName != null">
        #{basketsName,jdbcType=VARCHAR},
      </if>
      <if test="basketsStatus != null">
        #{basketsStatus,jdbcType=VARCHAR},
      </if>
      <if test="basketsAddress != null">
        #{basketsAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="basketsModel != null">
        #{basketsModel,jdbcType=VARCHAR},
      </if>
      <if test="basketsManagerCode != null">
        #{basketsManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.building.dao.entity.HangingBasketsDO">
    update t_hanging_baskets
    <set>
      <if test="basketsCode != null">
        baskets_code = #{basketsCode,jdbcType=VARCHAR},
      </if>
      <if test="basketsName != null">
        baskets_name = #{basketsName,jdbcType=VARCHAR},
      </if>
      <if test="basketsStatus != null">
        baskets_status = #{basketsStatus,jdbcType=VARCHAR},
      </if>
      <if test="basketsAddress != null">
        baskets_address = #{basketsAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="basketsModel != null">
        baskets_model = #{basketsModel,jdbcType=VARCHAR},
      </if>
      <if test="basketsManagerCode != null">
        baskets_manager_code = #{basketsManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null">
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.building.dao.entity.HangingBasketsDO">
    update t_hanging_baskets
    set baskets_code = #{basketsCode,jdbcType=VARCHAR},
      baskets_name = #{basketsName,jdbcType=VARCHAR},
      baskets_status = #{basketsStatus,jdbcType=VARCHAR},
      baskets_address = #{basketsAddress,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      baskets_model = #{basketsModel,jdbcType=VARCHAR},
      baskets_manager_code = #{basketsManagerCode,jdbcType=VARCHAR},
      project_code = #{projectCode,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>